
.skills-row-container {
    display: flex;
    flex-direction: column;
}

.icon-img img {
    width: 50px;
    max-height: 45px;
}
.icon-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 50px;
    max-height: 50px;
    width: auto;
    margin: 5px;
    padding-top: 7px;
}

p {
    font-size: 15px;
    font-weight: bold;
}

.icon-container {
    display: flex;
    position: relative;
    left: 10px;
    gap: 50px;
}

.title {
    font-size: 20px;
    text-decoration: underline;
}