
.skills-container {
    display: flex;
}

.skills-row-container {
    display: flex;
    flex-direction: column;
}

.icon-row {
    display: block;
}

.icon-img img{
    max-width: 20px;
    max-height: 20px;
    width: auto;
}

.icon-img {
    border: 1px solid red;
}

p {
    font-size: 15px;
    font-weight: 700;
}

.icon-container {
    display: flex;
    gap: 100px;
}