.project-item h2 {
  font-size: 35px;
  text-align: center;
}

.project-item p {
  text-align: center;
  margin: 0px 15px;
  font-size: 18px;
}

.project-item a {
  font-size: 20px;
  padding: 2px 7px;
  border-radius: 4px;
  background-color: red;
  font-weight: bold;
  max-width: 150px;
  margin: 15px;
  text-decoration: none;
  color: white;
}
.project-item a:hover {
  cursor: pointer;
}

.projects-list img {
  display: block;
  max-width: 800px;
  max-height: auto;
  margin: 10px auto;
  border-radius: 4px;
}

.projects-list {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 60%;
  align-items: center;
  margin: 30px;
  border: 5px solid black;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.062);
}
.project-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  height: 86vh;
}
