.mainContact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 20px; /* add some padding to the sides */
}

.divGreeter {
  display: flex;
  color: white;
  font-size: 25px;
  max-width: 450px;
  width: 100%;
  left: 35%;
  position: relative;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* make the form fill the available space */
}

.contactForm input,
.contactForm textarea {
  border: 2px grey solid;
  background-color: transparent;
  font-size: 25px;
  width: 100%; /* make the input fields fill the available space */
  max-width: 45%; /* make the input fields fill the available space */
  margin-bottom: 5px;
}

@media only screen and (max-width: 768px) {
  .mainContact {
    margin-top: 50px;
  }

  .divGreeter {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
  }

  .contactForm input,
  .contactForm textarea {
    font-size: 15px;
  }
}
