.mainContact {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 120px;
  left: 425px;
  max-width: 65%;
  margin: 25px;
}
.divGreeter p {
  max-width: 50%;
}

.contactForm {
  width: 35%;
  position: relative;
  left: 45px;
}

input,
textarea {
  display: block;
  width: 45%;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: 2px black solid;
  background-color: #f2f2f2;
  font-size: 16px;
  resize: none;
}
textarea {
  height: 80px;
}
.send-button {
  display: block;
  margin-top: 20px;
  padding: 10px;
  position: relative;
  background-color: #4CAF50;
  color: rgb(255, 244, 244);
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-content: space-between;
  margin-left: 55px;
  margin-right: 25px;
}

.link {
  width: 100px;
  height: auto;
}

.p-links {
  position: relative;
  left: 35px;
  margin-bottom: 10px;
  font-size: 25px;
  font-weight: bold;
}
