.nav button {
    background-color: transparent;
    font-family: 'Courier New', Courier, monospace;
    border: none;
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.6s ease-in-out;
  }
  
  .nav button:hover {
    text-decoration: underline;
  }  

.nav {
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 20px;
}

@media only screen and (max-width: 768px) { 
    .nav {
      flex-direction: row; 
      position: static; 
      top: auto; 
      right: auto; 
      padding: 0; 
    }
  
    .nav button {
      font-size: 20px; 
      padding: 10px; 
    }

    .logo-container img {
      width: 100%; 
      max-width: 100px;
    }
  }